.homepage {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('./personalbackground.jpg') center no-repeat ;
  height: 100vh;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  font-family: 'Ruthie', cursive;
  font-size: 1.6em;
  color: #86A187;
  margin-top: 0;
}






@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 10.2em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
