

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  background: url("./personalbackground.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-size: 16px;
}
/* Start Reusable  */
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
